amqp
anyjson
asgiref
billiard
celery
Django==4.1.7
django-celery
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
kombu
PyJWT==2.6.0
pytz==2022.7.1
sqlparse==0.4.3
apidriver==0.9.1

requests~=2.28.2
Jinja2~=3.1.2
six~=1.16.0
PyMySQL~=1.0.3
jsonpath~=0.82
pytest~=7.2.2